extends ../layout

block content
	.container
		if medicoes
			.row
				.col.s12.m6
					.card.blue-grey
						.card-content.white-text
							span.card-title Medições
							p
								strong ID: 
								| #{medicoes.id_medicao}
							p
								strong Temperatura: 
								| #{medicoes.valor_temp}

							p
								strong Umidade: 
								| #{medicoes.valor_umi}
								
							p
								strong Data e Horário: 
								| #{medicoes.data_horario}
								
						.card-action
							a(href='/medicoes/' + medicoes.id_medicao + '/update') Editar
							a(href='/medicoes/' + medicoes.id_medicao + '/delete') Remover

		a(href="/medicoes") Retornar